doctype html
html(lang="en")
    head
        title= "125中学2007级三班聚会邀请函"
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
